<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="shadow-lg bg-light rounded myform form">
          <div class="logo">
            <div class="col-md-12 text-center">
              <a (click)="logout()"><i class="fa fa-power-off"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div *ngIf="action" class="progress yellow">
							<span class="progress-left">
								<span class="progress-bar"></span>
							</span>
              <span class="progress-right">
								<span class="progress-bar"></span>
							</span>
              <div class="progress-value">
                <p> {{ progress }}%</p>
              </div>
            </div>
            <div *ngIf="!action" class="progress yellow">
							<span class="progress-left">
								<span></span>
							</span>
              <span class="progress-right">
								<span></span>
							</span>
              <div class="progress-value">
                <p> {{ progress }}%</p>
              </div>
            </div>
          </div>

          <div class="upload-zone">
            <div class="col-md-3 text-center">
              <i class="fa fa-lock" (click)="upload(true)"></i>
              <p class="text-dark crypt-name"><b>Encrypt</b></p>
            </div>
            <div class="col-md-6 text-center upload-part">
             <i class="fa fa-upload" onclick="$('#uploadFileInput').click();"></i>
              <p class="text-dark file-name text-center" style="margin: -20px 0 0 55px; border: 0">{{fileName}}</p>

              <p class="text-dark file-name remove-space"><i class="fa fa-file"></i>
                <select name="file" id="file" [(ngModel)]="fileSelected">
                  <option *ngFor="let file of fileInfos | async" [value]="file.url"
                  selected>{{file.name}}</option>
                </select>
               <i class="fa fa-trash" (click)="delete()"></i>
              </p>
            </div>

            <div class="col-md-3 text-center decrypt-part">
              <i class="fa fa-unlock" (click)="upload(false)"></i>
              <p class="text-dark decrypt-name"><b>Decrypt</b></p>
            </div>
          </div>
          <div class="form myfooter text-center shadow rounded" style="margin-top:30px">
            <a href="{{fileSelected}}"><i class="fa fa-download"></i></a>
          </div>
        </div>
      </div>
      <input (change)="selectFile($event)" id="uploadFileInput" style="visibility:hidden" type="file"/>
    </div>
  </div>
</div>
